.grandt_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.img{
  margin-top: -60px;
}

.container {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}


.button {
  position: relative;
  width: 200px;
  height: 70px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #17795E;
  background-color: #209978;
  overflow: hidden;
  border-radius: 0 20px 0px 20px;
  margin: 0 20px;
  box-shadow: 10px 10px 18px 5px;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(22px);
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

.button .button__icon {
  margin-left: auto;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #17795E;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  fill: #fff;
}

.button:hover {
  background: #17795E;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #146c54;
}

.button:active {
  border: 1px solid #146c54;
}

@media (max-width:912px) {
  .grandt_container {
    height: 100vh;
  }

  .container {
      flex-direction: column;
      /* Cambiamos la dirección de columna a fila */
      justify-content: center;
      /* Centramos horizontalmente */
      align-items: center;
      /* Centramos verticalmente */
      margin-top: -97%;
  }

  .container button {
      margin: 30px;
      /* Añadimos un pequeño margen entre los botones */
  }
  .img{
    visibility: hidden;
  }
}

