<div class="grandt_container">
    <div class="img">
        <img src="../../assets/img/entepach1.png" alt="Entepach">
    </div>
        <div class="container">
            <button>
                Bases y competencia
            </button>
            <button>
                Postula tu pelicual
            </button>
            <button>
                Bases Confluencias
            </button>
            <button>
                Postula tu proyecto
            </button>
        </div>
    </div>