*{
    padding: -10px;
    margin: -10px;
    box-sizing: border-box;
}

.fondo_movimiento {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(150deg, #0602eb, #4aa441, #fd46c0);
    background-size: 400% 300%;
    animation: BgGradient 3s ease infinite;
    
}

@keyframes BgGradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}